.container{
  padding: 5%;
}
.h8k-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.h8k-table th,
.h8k-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}

.h8k-danger {
  background-color: #f44336;
  color: white;
}
td, th{
  text-align: center !important;
}
